@import "vars";
@import "libs";
@import "fonts";
@import "global";

// ------------------------
// HEADER 
// ------------------------
.main-page{
  height: 100vh;
  padding-top: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header{
  display: flex;
  justify-content: space-between;
}
.header__phone{
  padding-left: 20px;
  position: relative;
  &:before{
    content: "\f10a";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    color: #555;
  }
  a{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #fff; 
  }
}
.logo-img,
.mm-navbar__title{
  img{
    width: 128px;
    height: auto;
  }
}
.service-row__img,
.request-img{
  width: 100px;
  height: auto;
}
.main-page__content{
  max-width:565px;
  text-align: center;
  margin-left: 10%;
}
.main-page__content-uptitle{
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  text-align: center;
  span{
    display: inline-block;
    margin: 0 .4em;
    &:before,
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      border-top: 2px solid #fff;
      margin-top: .6em;
      }
    &:before{
      margin-left: calc(-100% - 17px);
    }
    &:after{
      margin-left: 17px;
    }
  }
}
.main-page__wrapper{
  height: 100vh;
  display: flex;
  align-items: center;

}
.main-page__content-title{
  padding: 35px 0;
  text-transform: uppercase;
  font-size: 67px;
  line-height: 70px;
  font-weight: 100;
  border-bottom: 1px solid #fff;
  margin-bottom: 40px;
}
.main-page__content-city{
  position: relative;
  padding: 0 21px;
  display: inline-block;
  margin-bottom: 50px;
  text-transform: uppercase;
  &:before{
    content: "\f005";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    color: #555;
  }
  &:after{
    content: "\f005";
    font-family: 'icomoon';
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    color: #555;
  }
}
.main-page__content-text{
  margin-bottom: 50px;
  span{
    font-weight: 700;
  }
}
.main-page__bot{
  height: 56px;
  position: absolute;
  top: calc(100vh - 56px);
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid rgba(#fff,0.1);
  background-color: rgba(21, 21, 21, 0.149);   
}
.main-page__bot-adress,
.footer__loc-adress{
  padding-left: 26px;
  position: relative;
  &:before{
    content: "\f124";
    position: absolute;
    font-family: 'icomoon';
    left: 0;
    top: 0;
    color: #555555;
    font-size: 16px;
  }
}
.main-page__bot-phone,
.footer__loc-phone{
  padding-left: 22px;
  position: relative;
  &:before{
    content: "\f10a";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    color: #555;
  }
  a{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #fff; 
  }
}
.main-page__bot-time,
.footer__loc-time{
  padding-left: 30px;
  position: relative;
  &:before{
    content: "\f017";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    color: #555;
  }
}
.main-page__content-btn{
  padding: 20px 54px;
  background-color: $yellow;
  text-transform: uppercase;
  border-radius: 3px;
  position: relative;
  transition: all .3s;
  z-index: 5;
  &:active{
    transform: translate(0,5px); 
  }
}
.menu-aside{
  padding-top: 34px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 60px;
  border: 1px solid rgba(#fff,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-aside__hamburger{
  cursor: pointer;
  position: absolute;
  top: 28px;
  right: 12px;
  .hamburger-box{
    width: 34px;
  }
}
.hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after{
    border-radius: 0;
    width: 34px;
    height: 2px;
    background-color: #fff;
}
.mm-navbar__title{
  margin-bottom: 35px;
  margin-top: 35px;
}
.mm-navbar{
  border-bottom: none;
}
.mm-listitem, 
.mm-panels{
  border-color: rgba(#000,0);
}
#my-menu{
  li{
    padding-left: 50px;
    display: flex;
    align-items: center;
    &:hover{
      a{
        color: $yellow;
        &:before{
          color: $yellow;
        }
      }
    }
    a{
      position: relative;
      transition: all .2s;
      color: rgba(#fff,.5);
      padding-left: 15%;
      padding-right: 15%;
      font-size: 14px;
      line-height: 20px;
      
    &:before{
      content: "\f219";
      position: absolute;
      color: #ffffff;
      left: 15px;
      top: 11px;
      font-family: 'icomoon';
      }
    }
  }
}
.menu-aside__social{
  display: flex;
  margin: auto 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-link{
  cursor: pointer;
  transition: all .3s;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  color: #2c2c2c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  &:hover{
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
  }
  & + &{
    margin-top: 15px;
  } 
}

// ------------------------
// service
// ------------------------
.service-row{
  justify-content: center;
  display: flex;
  background-color: rgba(61, 60, 60, 0.9);
}
.service-row__item{
  padding: 70px 145px;
  max-width: 640px;
  width: 100%;  
  min-height: 535px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &:nth-child(1){
    animation-delay: .2s;
  }
  &:nth-child(2){
    animation-delay: .5s
  }
  &:nth-child(3){
    animation-delay: .7s
  }
}
.service-row__item--first{
  background-color: #66c7cd;
}
.service-row__item--second{
  background-color: $yellow;
}
.service-row__item--third{
  background-color: #f86868;
}
.service-row__img{
  padding-bottom: 15px;
}
.service-row__item-title{
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.service-row__item-suptitle{
  font-weight: 300;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.row-item__price{
  padding: 23px 16px;
  span{
    font-weight: 700;
    color: #4a4a4a;
    position: relative;
    &:before{
      content: "\f158";
      font-family: 'icomoon';
      position: absolute;
      right: -16px;
      top: -5px;
      font-weight: 700;
      color: #4a4a4a;
    }
  }
}
.row-item__price-middle{
  border-top: 1px solid rgba(#000, 0.1);;
  border-bottom: 1px solid rgba(#000, 0.1);
}
.service-row__item-prices{
  margin-bottom: 25px;
}
.service-row__btn{
  cursor: pointer;
  transition: all .3s;
  background-color: #fff;
  border-radius: 3px;
  padding: 25px 60px;
  font-weight: 600;
  color: #444444;
  text-transform: uppercase;
  letter-spacing: 4px;
  &:active{
    transform: translate(0,5px); 
  }
}
// ------------------------
//slider
// ------------------------

.slider{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 85px 100px;
  position: relative;
  overflow: hidden;
  &:before{
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(61, 60, 60, 0.9);
  }
}
.slider__wrapper{
  display: flex;
}
.slider__content{
  max-width: 485px;
  margin-right: 70px;
  z-index: 50;
  margin-top: 35px;
}
.slider__content-title{
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 45px;
  span{
    color: $yellow;
  }
}
.slider__content-text{
  margin-bottom: 35px;
  span{
    color: $yellow;
    font-weight: 700;
  }
}
.fotorama{
  &__nav{
    &-wrap{
      position: absolute;
      bottom: 15px;
      width: 100%;
    }
  }
&__thumb{
  box-sizing: border-box;
  border: 5px solid #fff;
  transition: border-color .5s;
  &-border{
    border-color: #3d3c3c;
    }
  }
}

// ------------------------
//request
// ------------------------
.request{
  height: 650px;
  background-repeat: no-repeat;
  background-position: center;
  background-position: center;
}
.moving-request{
  background-color: rgba(249, 199, 102,.9);
  height: 100%;
  width: 50%;
  margin-left: auto;
  padding-left: 110px;
  padding-top: 105px;
  animation-duration: 2s;
  animation-fill-mode: both;
  form{
    display: flex;
    flex-direction: column;
    max-width: 460px;
    input{
      outline: none;
      margin-bottom: 15px;
      padding: 18px 25px;
      border: 1px solid rgba(#000,.1);
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0);
      color: #ffffff;
      &::placeholder{
        color: #ffffff;
      }
    }
    select{
      width: 100%;
      outline: none;
      padding: 18px 25px;
      border: 1px solid rgba(#000,.1);
      border-radius: 3px;
      color: #ffffff;
      background-color: rgba(255, 255, 255, 0);
      appearance: none;
      position: relative;
      option{
        color: #000000;
      }
    }
    button{
      transition: all .1s;
      cursor: pointer;
      max-width: 210px;
      padding: 25px 0;
      border:none;
      outline: none;
      border-radius: 3px;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 4px;
      color: #444; 
      &:active{
        transform: translate(0,5px); 
      }
    }
  }
}
.select-wrapper{
  margin-bottom: 40px;
  position: relative;
  .icon-angle-down{
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
  }
}
.request-img{
  margin-bottom: 10px;
}
.moving-request__title{
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.moving-request__suptitle{
 margin-bottom: 50px;
}

// ------------------------
//clients
// ------------------------
.clients{
  padding: 130px 0 95px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.clients-title{
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 60px;
  text-align: center;
  span{
    color: $yellow;
  }
}
.clients-slider__inner{
  position: relative;
  .slick-track{
    display: flex;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0 !important;
    .slick-active{
      background-color: $yellow;
      height: 11px;
      width: 11px;
    }
    li{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #fff;
      button{
        padding: 0;
        &:before{
          content: '';
        }
      }
    }
  }
}
.slider__item{
  text-align: center;
}
.slider__item-author{
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
  margin-bottom: 15px;
}
.slider__item-date{
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #888888;
  margin-bottom: 30px;
} 
.slider__item-text{
  max-width: 760px;
  width: 100%;
  margin: 0 auto 70px;
  position: relative;
  &:before{
    content: ',,';
    position: absolute;
    transform: rotate(180deg);
    left: -60px;
    color: $yellow;
    font-size: 54px;
    font-weight: 700;
    font-family: 'Times New Roman';
    top: 13px;
  }
  &:after{
    content: ',,';
    position: absolute;
    right: -60px;
    color: $yellow;
    font-size: 54px;
    font-weight: 700;
    font-family: 'Times New Roman';
    top: -20px;
  }
}
.rateYo{
  margin: 0 auto;
  margin-bottom: 50px;  
}

// ------------------------
//partners
// ------------------------

.partners{
  padding: 80px 0 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.partners-title{
  font-size: 30px;
  text-transform: uppercase;
  color: $yellow;
  margin-bottom: 75px;
  font-weight: 800;
  text-align: center;
}
.partners__item{
  height: 110px;
  max-width : 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.partners__inner{
  max-width: 1100px;
  margin: 0 auto;
  .slick-prev{
    &:before{
      content: "\f104";
      position: absolute;
      font-size: 30px;
      color: #999999;
      font-family: 'icomoon';
      opacity: 1;
      left: -100px;
      top: -10px;
    }
  } 
  .slick-next{
    &:before{
      content: "\f105";
      position: absolute;
      font-size: 30px;
      color: #999999;
      font-family: 'icomoon';
      opacity: 1;
      right: -50px;
      top: -10px;
    }
  }
}

// ------------------------
//footer
// ------------------------

.footer{
  padding: 50px 0 80px;
  background-color: #242424;
}
.footer__wrapper{
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}
.footer__info{
  max-width: 170px;
  color: #777777;
  margin-right: 30px;
}
.footer-logo{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 28px;
  max-width: 130px;
  margin-bottom: 25px;
}
.footer-logo__suptext{
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 24px;
}
.footer__social{
  display: flex;
}
.footer__social-item{
  cursor: pointer;
  transition: all .3s;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(#fff,.6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  &:hover{
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
  }
  & + &{
    margin-left: 11px;
  } 
}
.footer__nav{
  margin-right: 90px;
  a{
    color: #979797;
    text-decoration: underline;
    font-size: 14px;
  }
  li{
    position: relative;
    padding-left: 21px;
    &:before{
      content: "\f219";
      position: relative;
      font-family: 'icomoon';
      font-size: 12px;
      left: -11px;
      top: 0;
    }
    & + li {
      margin-top: 8px;
    }
    &:hover{
      a{
        color: $yellow;
      }
    }
  }
}
.footer__loc{
  margin-right: 60px;
}
.footer__loc-adress{
  margin-bottom: 29px;
}
.footer__loc-time{
  margin-bottom: 40px;
}
.footer__loc-phone{
  font-size: 26px;
}
@import "media";